<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/stylesheets/application.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/select2.css'/>
  <script src="/js/jquery.js"></script>
  <script src="/js/select2.js"></script>
</head>
<body>
<h1>{{ title }}</h1>

<p>{{ notice }}</p>

<div class="form">
  <form action='/edit_picks' method='POST'>
    <p>
      <a href='/'>Go home</a>
    </p>

    <p>
      <label>First</label><br/>
      <select name="pick1">
        <option value=''></option>
        {{#candidates}}
          <option value='{{id}}'{{selected-if-equal id ../user/pick1}}>{{name}}</option>
        {{/candidates}}
      </select>
    </p>
    <p>
      <label>Second</label><br/>
      <select name="pick2">
        <option value=''></option>
        {{#candidates}}
          <option value='{{id}}'{{selected-if-equal id ../user/pick2}}>{{name}}</option>
        {{/candidates}}
      </select>
    </p>
    <p>
      <label>Third</label><br/>
      <select name="pick3">
        <option value=''></option>
        {{#candidates}}
          <option value='{{id}}'{{selected-if-equal id ../user/pick3}}>{{name}}</option>
        {{/candidates}}
      </select>
    </p>
    <p>
      <label>Fourth</label><br/>
      <select name="pick4">
        <option value=''></option>
        {{#candidates}}
          <option value='{{id}}'{{selected-if-equal id ../user/pick4}}>{{name}}</option>
        {{/candidates}}
      </select><br/>
    </p>

    <p>
      <button>Submit final picks</button>
    </p>
  </form>
</div>
<script type="text/javascript">
  $(function() {
    $("select").select2({
      placeholder: "Select a Girl",
      allowClear: true,
      width: '260px'
    });
  })
</script>
<div class="bottom"></div>

</body>
</html>
